{% extends 'main/base.html' %} {% block content %}
<!-- content section -->
<div class="flex text-blue-dark font-semibold p-6 mx-10 text-lg justify-center">
  <form method="post" class="flex">
    {% csrf_token %}
    <div>
      <div>
        <input
          type="text"
          name="city"
          id="city"
          class="form-control border-0 rounded-lg"
          placeholder="Search city"
          method="GET"
        />
      </div>
    </div>
    <div class="control">
        <button
          class="bg-blue-dark rounded-lg text-white-default mx-1 p-2 hover:bg-green-dark"
          type="submit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search m-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
      </div>
  </form>
</div>
<div class="flex justify-center">
<p id="time" class="m-2 text-green-dark"></p>
</div>
<!-- weather section -->
<div class="justify-center m-5 flex">
  <div class="shadow-md bg-white-default m-2 p-2 rounded-lg flex">
    <p><img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png"></img></p>
    <div>
      <p class="font-bold">{{ city_weather.city }}, {{city_weather.country}}</p>
      <p>{{ city_weather.temperature| default:"Your search results will appear here" }}&deg;C</p>
      <p>{{ city_weather.weather }}</p>
    </div>
    
  </div>
  <div class="shadow-md bg-white-default m-2 p-2 rounded-lg">
    <p class="">
      Feels like: {{city_weather.feels_like| default:"Weather description will be shown here"}}&deg;C
    </p>
    <p class="">
      Max: {{city_weather.temp_max| default:"Weather description will be shown here"}}&deg;C
    </p>
    <p class="">
      Min: {{city_weather.temp_min| default:"Weather description will be shown here"}}&deg;C
    </p>
    <p class="">
      wind: {{city_weather.wind| default:"Weather description will be shown here"}} Km/hr
    </p>
  </div>
</div>

{% endblock content %}
